#main-container {
    width: 30%;
    height: 60%;
    background-color: #fff;
    padding: 16px;
}
.box-container {
    box-sizing: border-box;
    width: 100%;
}

.input-container {
    margin: 8px 0;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    /* border-radius: 8px; */
}

.submit-btn {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    color: #fff;
    background-color: #7676fd;
    border: none;
    margin: 8px 0;
}

.form-title {
    text-align: center;
}

#choice-container {
    display: flex;
    justify-content: space-between;
}

.choice-btn {
    width: 48%;
    color: #444;
    background-color: #fff;
    border: none;
    padding: 16px 0;
    margin: 8px 0;
}

.chosen {
    color: #484fff;
    background-color: #eae3ff;
    border: 1px solid #484fff;
}